body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('https://img.freepik.com/free-vector/flat-design-forest-landscape_23-2149155031.jpg?w=1480&t=st=1683021420~exp=1683022020~hmac=895b56de4b26e73af153b9b7f3d1c6de03f136cbf4e6f2ea42e1f695a3c831f7') no-repeat;
    background-size: cover;
    background-position: center;

}